<br>
<br>
<br>
<br>
<br>
<br>
<div align="center">
<div id="title"><p>Wolf</p></div>
<br>
<p>みんなの"今"を知ろう</p>
<br>
<button class="btn btn-large btn-facebook" onclick="location.href='/auth/facebook'"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
</div>
