<legend><h2>新規投稿</h2></legend>
<br>
<%= form_for(@post) do |f| %>
  <label>本文</label>
  <%= f.text_area :body %>
  <br>
  <br>
  <br>
  <label>投稿を保持する</label>
  <%= f.check_box :hold_flag,{},1,0 %>
  <br>
  <br>
  <br>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
